body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: white;
}

a{
	text-decoration: none;
}

ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.header{
	background-color: black;
	padding: 10px;
}
.menu {
	padding: 17px 0;
	text-align: center;
}

.menu-link { 
	color: white;
	padding: 5px 5px;
}

.menu-link:hover { 
	color: black;
	background-color: rgba(255, 255, 255, .9);
	-moz-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}

.menu-toggle {
	display: none;
}

.mobile-menu {
	display: none;
}

              /*mobile menu*/

@media (max-width: 480px) {
	.menu {
		display: none;
	}

	.menu-toggle {
		display: inline-block;
		padding: 10px;
		cursor: pointer;
	}
	
	.line{
		width: 30px;
		height: 2px;
		margin-bottom: 10px;
		background-color: white;
	}
	
	.line:last-child {
		margin: 0;
	}
	
	.mobile-menu{
		display: block;
		width: 100px;
		height: calc(100vh - 71px);
		background-color: rgba(0, 255, 0, .8);
		text-align: center;
		transform: translate(-100%, 0);
		-webkit-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}
	
	.menu-toggle_active {
		transform: translate(0, 0);
		-webkit-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}

	.mobile-menu-link{
		color: white;
		display: block;
		padding: 15px 20px;
		background: rgba(0, 255, 0, .8);
	}
	
	.mobile-menu-link:hover{
		background-color: white;
		color: black;
		-webkit-transition: .4s;
		-o-transition: .4s;
		transition: .4s;
	}
}